<center>
<div class="bar bar-header bar-energized">
  <h1 class="title">HISTORY</h1>
</div>

<div class="list bar-subheader">
<div class="button-bar bar-energized">
  <a class="button" ui-sref="login">Home</a>
</div>
  <div class="item item-avatar">
    <img src="img/1.jpg">
    <h2>PONGSAKORN SAKSUMRIT</h2>
    <p>(TUA)</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/2.jpg">
    <p> July 13 1998 
     
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

</div>
<div class="bar bar-footer bar-energized">
  <div class="title">Footer</div>
</div>