<center>
<div class="bar bar-header bar-energized">
  <h1 class="title">LIST</h1>
</div>
<div class="list bar-subheader">
<div class="button-bar bar-energized">
  <a class="button" ui-sref="login">Home</a>
</div>
  <a class="item item-icon-left">
    <i class="icon ion-home"></i>
    Chaiyaphum
  </a>

  <a  class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    0862607100
  </a>

  <a  class="item item-icon-left">
    <i class="icon ion-wifi"></i>
    JJ Styles
  </a>

  <a  class="item item-icon-left">
    <i class="icon ion-card"></i>
    PONGSAKORN
  </a>

</div>
<div class="bar bar-footer bar-energized">
  <div class="title">Footer</div>
</div>